* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* App.vue veya global stil içine */
body {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  overflow-x: hidden;
}
